.header_nav{
    /* text-align: left; */
    font-size: 30px;
    padding: 30px;
    background:#F8F9FA;
    display: inline;
    justify-content: space-between;
}
.navbar-brand{
    font-size: 100px;
}
.brand_name{
    text-align: center;
    background: linear-gradient(to left, #0066ff 20%, #6600ff 40%, #6600cc 60%, #9900cc 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;
}
.brand-site{
    text-align: center;
    background: linear-gradient(to left, #8b3c3c 20%, #6e5125 40%, #2c5080 60%, #782c8b 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;
}
.card{
    color: #f74f4f;
}
.footer{
    margin-top: 10%;

}
.body_text{
    color: #ff80ff;
}
.contact{
    color: #f74f4f;
    padding: 5px;
    margin: 25px;
}
.contact:hover{
    color: #66ebf2;
}
.dev{
    color: #f74f4f;
}
.dev:hover{
    color: #66ebf2;
}
.text_contact{
    display: inline;
    padding: 5px;
}
.background_img{
    width: fit-content;
}
.main_content{
    color: #7a0597;
    margin-top: 250px;
    z-index: 0;
}
.content{
    color: #cc00ff;
}
.profile-pic{
     margin-left: 80%;
     margin-top: 200px;
     width: 300px;
     border-radius: 10%;
    
}
.defaut-info{
    text-align: center;
    color: #f74f4f;
}
.skill-content{
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    color: #f74f4f;
}
.background{
    background-image: url("img/background3.jpg");
    background-repeat: no-repeat;
}
.hobby-img{
    height: 421px;
}
.ending{
    margin-top: 80px;
    text-align: center;
    color: #f74f4f;
}
.text-content{
    color: #cc00ff;
}
.ending-end{
text-align: center;
font-size: 20px;

}
.ending-kidding{
text-align: center;
color: #F8F9FA;
}
@keyframes shine {
    to {
    background-position: 200% center;
    }
}